:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-bgrc: #2F303A;
    --third-bgr: #F5F4FA;
    --border-header-color: #ECECEC;
    --border-card-color: #EEEEEE;
    --bgc-hero: #C4C4C4;
    --btn-hero-active: #188CE8;
    --link-color: #AFB1B8;
}