header {
    border-bottom: 1px solid;
    border-bottom-color: var(--border-header-color);
    border-width: 100%;
}

.site-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container--flex {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.nav-list__item+.nav-list__item {
    @media screen and (min-width: 768px) {
        margin-left: 50px;
    }
}

.header-contacts__item+.header-contacts__item {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 10px;
    }
}

.header-contacts__item+.header-contacts__item {
    @media screen and (min-width: 1200px){
        margin-left: 50px;
    }
}

.nav-list {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: 87px;
        align-items: center;
    
        &__link {
            display: inline-block;
            padding-top: 32px;
            padding-bottom: 32px;
    
            color: var(--secondary-text-color);
            text-decoration: none;
            font-weight: 500;
            line-height: 1.14;
            letter-spacing: 0.02em;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &--active {
                color: var(--accent-color);
                align-items: center;
    
                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%);
                    content: "";
                    display: block;
                    height: 4px;
                    background-color: var(--accent-color);
                    border-radius: 2px;
                }
    
                &.first::after {
                    @media screen and (min-width: 768px) {
                        width: 47px;
                    }

                    @media screen and (min-width: 1200px) {
                        width: 48px;
                    }
                }
    
                &.second::after {
                    @media screen and (min-width: 768px) {
                        width: 75px;
                    }
                    @media screen and (min-width: 1200px) {
                        width: 78px;
                    }
                }
            }
    
            &:hover,
            &:focus {
                color: var(--accent-color);
            }
        }
    
        &__item {
            position: relative;
        }
    }
    
}

.contacts {
    @media screen and (min-width: 768px) {
        margin-left: auto;
    }
}

.header-contacts {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
    
        &__link {
    
            color: var(--primary-text-color);
            text-decoration: none;
            font-weight: 500;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            text-align: center;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

            @media screen and (min-width: 1200px) {
                padding-top: 32px;
                padding-bottom: 32px;
                font-size: 14px;
                line-height: 1.14;
            }
    
            &--flex {
                display: flex;
                align-items: center;
            }
    
            &:hover,
            &:focus {
                color: var(--accent-color);
            }
        }
    
        &__icon-mail {
            fill: currentColor;
            margin-right: 8px;
            @media screen and (min-width: 1200px) {
                margin-right: 10px;
                width: 16px;
                height: 12px;
            }
        }

        &__icon-tel {
            fill: currentColor;
            margin-right: 8px;
            @media screen and (min-width: 1200px) {
                margin-right: 10px;
                width: 10px;
                height: 16px;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        align-items: center;
    }
}